<h1>twitter accounts</h1>

<%= link_to "Connect a twitter account", "/auth/twitter", method: :post %>

<% @twitter_accounts.each do |twitter_account| %>
<div>
	<%= image_tag twitter_account.image %>
	<%= twitter_account.username %>
</div>
<%= button_to "discoonnet", twitter_account, method: :delete, data: { turbo_confirm: "Are you sure"} %>
<% end %>